<!Doctype html>
<html>

<head>
	<title>Generate Pdf Using Node Js</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">

</head>

<body>

	<div class="container">

		<h1 class="heading">Generate Pdf Using Node Js</h1>

		<form>
			<label for="">
				Generate Pdf Of Url :
			</label>
			<input placeholder="Enter Website Url" name="url" type="text">
			<button type="submit">
				Generate Pdf
			</button>
			<label class="label">
				<b>Generate Pdf Of Created Ejs Or HTML Page :</b>
			</label>
			<p>
				See Already Created <a target="_blank" href="/pdf"> Ejs Page</a>
			</p>
			<button type="button" class="generate-ejs-pdf">
				Generate Pdf
			</button>
		</form>

	</div>

	<script src="./javascript/script.js"></script>

</body>

</html>