@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ccc;

}

.container .card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container .card img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.container .card p {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.container .card .status {

    color: grey;
    margin-block: 10px;

}

.container .card .content {
    text-align: center;
    font-weight: 400;
}